@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Stint+Ultra+Expanded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* shadow */
.black-shadow {
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.11);
}
.shadow-light {
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.08);
}

/* button styles */
.animated-button {
  background-size: 200% 200%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background: linear-gradient(45deg, #845ec2, #d65db1);
  }
  25% {
    background: linear-gradient(45deg, #d65db1, #ff6f91);
  }
  50% {
    background: linear-gradient(45deg, #ff6f91, #ff9671);
  }
  75% {
    background: linear-gradient(45deg, #ff9671, #ffc75f);
  }
  100% {
    background: linear-gradient(45deg, #ffc75f, #845ec2);
  }
}
